<nav>
  <ul>
    <li><a href="{{ '/' | relative_url }}">Home</a></li>
    <li><a href="{{ '/about.html' | relative_url }}">About</a></li>
    <li><a href="{{ '/projects.html' | relative_url }}">Projects</a></li>
    <li><a href="{{ '/publications.html' | relative_url }}">Publications</a></li>
    <li><a href="{{ '/contact.html' | relative_url }}">Contact</a></li>
  </ul>
  <ul class="social-icons">
    {% for item in site.social %}
    <li>
      <a href="{{ item.url }}" title="{{ item.title }}">
        <i class="{{ item.icon }}"></i>
      </a>
    </li>
    {% endfor %}
  </ul>
</nav>
